@import url(https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap);
@font-face {
  font-family: NunitoSans;
  font-display: swap;
  src: url("../fonts/NunitoSans-Regular.woff2") format("woff2"), url("../fonts/NunitoSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 375px;
}

body {
  color: #FFFFFF;
  line-height: 1;
  font-family: "NunitoSans";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "NunitoSans";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  touch-action: none;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
[class*=__container] {
  max-width: 77.25rem;
  box-sizing: content-box;
  margin: 0 auto;
  padding: 0 1.0625rem;
}

[class*=-ibg] {
  position: relative;
}
[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

[class*=-ibg_contain] img {
  object-fit: contain;
}

.header {
  background-color: #131313;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 20;
  font-size: 14px;
}
@media (max-width: 61.99875em) {
  .header {
    background-color: rgb(24, 24, 24);
  }
}
@media (max-width: 47.99875em) {
  .header {
    font-size: 12px;
  }
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 63px;
  padding-bottom: 0.625rem;
  padding-top: 0.625rem;
  column-gap: 15px;
}
@media (max-width: 61.99875em) {
  .header__container {
    min-height: 50px;
  }
}
@media (max-width: 47.99875em) {
  .header__container {
    column-gap: 10px;
  }
}
.header__logo {
  color: #E3B873;
  text-transform: uppercase;
  position: relative;
  z-index: 5;
}
.header__actions {
  display: flex;
  align-items: center;
}
@media (min-width: 79.375em) {
  .header__actions {
    column-gap: 2.9375rem;
  }
}
@media (min-width: 61.99875em) and (max-width: 79.375em) {
  .header__actions {
    column-gap: clamp( 1.25rem , -4.7710281634rem  +  9.7115315445vw , 2.9375rem );
  }
}
@media (max-width: 61.99875em) {
  .header__actions {
    flex: 0 0 45vw;
    justify-content: space-between;
  }
}
@media (max-width: 47.99875em) {
  .header__actions {
    flex: 1 1 auto;
  }
}
.header__phone {
  color: #E3B873;
  padding: 3px 0;
  font-size: 13px;
  text-decoration: none;
  background-image: linear-gradient(#E3B873, #FFFFFF);
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size 0.2s ease 0s;
}
.header__phone:hover {
  background-size: 100% 1px;
  cursor: pointer;
}
@media (max-width: 61.99875em) {
  .header__phone {
    color: #FFFFFF;
    position: relative;
    z-index: 5;
    background-image: linear-gradient(#FFFFFF, #FFFFFF);
  }
}
@media (max-width: 47.99875em) {
  .header__phone {
    font-size: 11px;
  }
}
.header__button {
  position: relative;
  z-index: 5;
  background-color: #E3B873;
  padding: 13px 33px;
  border-radius: 2px;
  transition: color 0.3s ease 0s, background-color 0.3s ease 0s;
}
.header__button:hover {
  color: #131313;
  background-color: #FFFFFF;
}
@media (max-width: 47.99875em) {
  .header__button {
    display: none;
  }
}

.menu {
  display: flex;
  justify-content: center;
}
@media (max-width: 61.99875em) {
  .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #FFFFFF;
    padding-top: 100px;
    transition: all 0.3s ease 0s;
  }
  .menu__body::-webkit-scrollbar {
    width: 0;
  }
  .menu__body::before {
    content: "";
    top: 0;
    left: -100%;
    position: fixed;
    width: 100%;
    height: 70px;
    z-index: 5;
    transition: all 3s ease 0s;
    background-color: rgb(24, 24, 24);
  }
  .menu-open .menu__body {
    left: 0;
  }
  .menu-open .menu__body::before {
    left: 0;
    transition: all 0.001s ease 0s;
  }
}
.menu__list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 0.3125rem;
  font-size: 11px;
}
@media (min-width: 79.375em) {
  .menu__list {
    column-gap: 2.9375rem;
  }
}
@media (min-width: 61.99875em) and (max-width: 79.375em) {
  .menu__list {
    column-gap: clamp( 1.25rem , -4.7710281634rem  +  9.7115315445vw , 2.9375rem );
  }
}
@media (max-width: 61.99875em) {
  .menu__list {
    flex-direction: column;
    row-gap: 30px;
  }
}
.menu__item {
  text-align: center;
}
.menu__link {
  transition: color 0.3s ease 0s;
}
@media (any-hover: hover) {
  .menu__link:hover {
    color: #E3B873;
  }
}
@media (max-width: 61.99875em) {
  .menu__link {
    color: #131313;
    font-size: 24px;
  }
}

.icon-menu {
  display: none;
}
@media (max-width: 61.99875em) {
  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    flex: 0 0 1.875rem;
    z-index: 5;
  }
}
@media (max-width: 61.99875em) and (any-hover: none) {
  .icon-menu {
    cursor: default;
  }
}
@media (max-width: 61.99875em) {
  .icon-menu span, .icon-menu::before, .icon-menu::after {
    content: "";
    transition: all 0.3s ease 0s;
    left: 0px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #FFFFFF;
  }
}
@media (max-width: 61.99875em) {
  .icon-menu::before {
    top: 0px;
  }
}
@media (max-width: 61.99875em) {
  .icon-menu::after {
    bottom: 0px;
  }
}
@media (max-width: 61.99875em) {
  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }
}
@media (max-width: 61.99875em) {
  .menu-open .icon-menu span {
    transform: scale(0);
  }
  .menu-open .icon-menu::before {
    transform: rotate(-45deg);
    top: calc(50% - 0.0625rem);
  }
  .menu-open .icon-menu::after {
    transform: rotate(45deg);
    bottom: calc(50% - 0.0625rem);
  }
}

.first-block__container {
  margin-top: 83px;
  display: flex;
  flex-direction: column;
  row-gap: 19px;
  position: relative;
  z-index: 3;
  padding-top: 194px;
  padding-bottom: 208px;
  max-width: 1172px;
}
@media (max-width: 61.99875em) {
  .first-block__container {
    margin-top: 70px;
  }
}
@media (min-width: 90em) {
  .first-block__container {
    padding-top: 12.125rem;
  }
}
@media (min-width: 23.4375em) and (max-width: 90em) {
  .first-block__container {
    padding-top: clamp( 5.3125rem , 2.9137323944rem  +  10.234741784vw , 12.125rem );
  }
}
@media (max-width: 23.4375em) {
  .first-block__container {
    padding-top: 5.3125rem;
  }
}
@media (min-width: 90em) {
  .first-block__container {
    padding-bottom: 13rem;
  }
}
@media (min-width: 23.4375em) and (max-width: 90em) {
  .first-block__container {
    padding-bottom: clamp( 3.8125rem , 0.5774647887rem  +  13.8028169014vw , 13rem );
  }
}
@media (max-width: 23.4375em) {
  .first-block__container {
    padding-bottom: 3.8125rem;
  }
}
.first-block__title {
  font-family: "Yeseva One";
  line-height: 132.5%; /* 53/40 */
  text-transform: uppercase;
  color: #FFFFFF;
  font-family: "Yeseva One";
}
@media (min-width: 90em) {
  .first-block__title {
    font-size: 2.5rem;
  }
}
@media (min-width: 23.4375em) and (max-width: 90em) {
  .first-block__title {
    font-size: clamp( 1.5rem , 1.1478873239rem  +  1.5023474178vw , 2.5rem );
  }
}
@media (max-width: 23.4375em) {
  .first-block__title {
    font-size: 1.5rem;
  }
}
.first-block__gold-text {
  color: #E3B873;
}
.first-block__subtitle {
  line-height: 163.636364%; /* 36/22 */
  color: #FFFFFF;
  max-width: 480px;
}
@media (min-width: 90em) {
  .first-block__subtitle {
    font-size: 1.375rem;
  }
}
@media (min-width: 23.4375em) and (max-width: 90em) {
  .first-block__subtitle {
    font-size: clamp( 0.875rem , 0.698943662rem  +  0.7511737089vw , 1.375rem );
  }
}
@media (max-width: 23.4375em) {
  .first-block__subtitle {
    font-size: 0.875rem;
  }
}
@media (max-width: 61.99875em) {
  .first-block__subtitle {
    padding-bottom: 25px;
  }
}
.first-block__buttons {
  display: flex;
  gap: 25px 25px;
}
@media (max-width: 47.99875em) {
  .first-block__buttons {
    flex-direction: column;
    text-align: center;
  }
}
.first-block__button {
  border: 1px solid #FFFFFF;
  border-radius: 4px;
  padding: 20px 42px;
  font-size: 11px;
  transition: background-color 0.3s ease 0s, border 0.3s ease 0s;
}
.first-block__button:first-child {
  background-color: #E3B873;
  border: 1px solid #E3B873;
}
.first-block__button:first-child:hover {
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #FFFFFF;
}
.first-block__button:hover {
  background-color: #E3B873;
  border: 1px solid #E3B873;
  cursor: pointer;
}
.first-block__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.first-block__picture {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.first-block__layout {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background: rgba(0, 0, 0, 0.7);
}

.projects__container {
  display: flex;
  flex-direction: column;
  column-gap: 50px;
  max-width: 1172px;
  padding-top: 111px;
  padding-bottom: 90px;
}
@media (max-width: 47.99875em) {
  .projects__container {
    padding-top: 36px;
    padding-bottom: 58px;
  }
}
.projects__mobile-title {
  display: none;
  font-family: "Yeseva One";
  text-align: center;
  line-height: 37px;
  letter-spacing: -0.07em;
  text-transform: uppercase;
  color: #E3B873;
  padding-bottom: 25px;
}
@media (min-width: 23.4375em) and (max-width: 61.99875em) {
  .projects__mobile-title {
    font-size: clamp( 1.375rem , 1.1470752699rem  +  0.9724788486vw , 1.75rem );
  }
}
@media (max-width: 23.4375em) {
  .projects__mobile-title {
    font-size: 1.375rem;
  }
}
@media (max-width: 61.99875em) {
  .projects__mobile-title {
    display: block;
  }
}
.projects__mobile-subtitle {
  display: none;
  font-family: "NunitoSans";
  text-align: center;
  line-height: 192.857143%; /* 27/14 */
  color: #FFFFFF;
  padding-bottom: 60px;
}
@media (min-width: 23.4375em) and (max-width: 61.99875em) {
  .projects__mobile-subtitle {
    font-size: clamp( 0.6875rem , 0.5735376349rem  +  0.4862394243vw , 0.875rem );
  }
}
@media (max-width: 23.4375em) {
  .projects__mobile-subtitle {
    font-size: 0.6875rem;
  }
}
@media (max-width: 61.99875em) {
  .projects__mobile-subtitle {
    display: block;
  }
}
.projects__description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.projects__block {
  display: flex;
  column-gap: 55px;
  min-width: 0;
}
@media (max-width: 61.99875em) {
  .projects__block {
    flex-wrap: wrap;
    flex-direction: column-reverse;
    row-gap: 37px;
  }
}
.projects__button-prev {
  display: none;
  left: 4%;
  top: 45%;
  position: absolute;
  z-index: 4;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #E3B873;
}
.projects__button-prev img {
  position: absolute;
  top: 30%;
  left: 35%;
}
@media (max-width: 61.99875em) {
  .projects__button-prev {
    display: block;
  }
}
.projects__button-next {
  display: none;
  right: 4%;
  top: 45%;
  position: absolute;
  z-index: 4;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #E3B873;
}
.projects__button-next img {
  position: absolute;
  top: 30%;
  right: 35%;
}
@media (max-width: 61.99875em) {
  .projects__button-next {
    display: block;
  }
}
.projects__body {
  border-radius: 4px;
  min-width: 0;
  flex: 0 0 54%;
}
@media (max-width: 61.99875em) {
  .projects__body {
    margin: 0 auto;
    position: relative;
    flex: 1 1 auto;
  }
}
@media (max-width: 700px) {
  .projects__body {
    width: 100%;
    margin: 0;
  }
}
.projects__slider {
  min-width: 0;
}
.projects__picture {
  max-width: 100%;
}
.projects__chose {
  display: flex;
  justify-content: space-between;
  width: 54%;
  padding-bottom: 53px;
  align-self: flex-end;
}
@media (max-width: 61.99875em) {
  .projects__chose {
    display: none;
  }
}
.projects__type {
  font-family: "Yeseva One";
  line-height: 19px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.3);
  background-image: linear-gradient(#E3B873, #FFFFFF);
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  padding-bottom: 2px;
  transition: background-size 0.2s ease 0s;
}
@media (min-width: 90em) {
  .projects__type {
    font-size: 0.875rem;
  }
}
@media (min-width: 61.99875em) and (max-width: 90em) {
  .projects__type {
    font-size: clamp( 0.75rem , 0.4732322218rem  +  0.4464086425vw , 0.875rem );
  }
}
.projects__type:first-child {
  color: #E3B873;
}
.projects__type:hover {
  background-size: 100% 1px;
  cursor: pointer;
}
.projects__nav {
  display: flex;
  justify-content: flex-start;
  column-gap: 26px;
}

.description__title {
  font-family: "Yeseva One";
  line-height: 37px;
  letter-spacing: -0.07em;
  text-transform: uppercase;
  color: #E3B873;
}
@media (min-width: 90em) {
  .description__title {
    font-size: 1.6875rem;
  }
}
@media (min-width: 61.99875em) and (max-width: 90em) {
  .description__title {
    font-size: clamp( 1.5rem , 1.0848483327rem  +  0.6696129637vw , 1.6875rem );
  }
}
@media (max-width: 61.99875em) {
  .description__title {
    display: none;
  }
}
.description__subtitle {
  font-family: "NunitoSans";
  line-height: 192.857143%; /* 27/14 */
  color: #FFFFFF;
}
@media (min-width: 90em) {
  .description__subtitle {
    font-size: 0.875rem;
  }
}
@media (min-width: 61.99875em) and (max-width: 90em) {
  .description__subtitle {
    font-size: clamp( 0.8125rem , 0.6741161109rem  +  0.2232043212vw , 0.875rem );
  }
}
@media (max-width: 61.99875em) {
  .description__subtitle {
    display: none;
  }
}
.description__items {
  display: flex;
  column-gap: 60px;
  flex-wrap: wrap;
}
@media (min-width: 90em) {
  .description__items {
    row-gap: 2.1875rem;
  }
}
@media (min-width: 61.99875em) and (max-width: 90em) {
  .description__items {
    row-gap: clamp( 1.875rem , 1.1830805544rem  +  1.1160216062vw , 2.1875rem );
  }
}
@media (max-width: 61.99875em) {
  .description__items {
    justify-content: space-between;
    row-gap: 32px;
  }
}
@media (max-width: 29.99875em) {
  .description__items {
    justify-content: flex-start;
  }
}
.description__item {
  min-width: 130px;
}
@media (max-width: 61.99875em) {
  .item {
    min-height: 65px;
  }
}
.item__title {
  font-family: "Yeseva One";
  line-height: 138.888889%; /* 25/18 */
  text-transform: uppercase;
  color: #E3B873;
  padding-bottom: 9px;
}
@media (min-width: 90em) {
  .item__title {
    font-size: 1.125rem;
  }
}
@media (min-width: 23.4375em) and (max-width: 90em) {
  .item__title {
    font-size: clamp( 0.875rem , 0.786971831rem  +  0.3755868545vw , 1.125rem );
  }
}
@media (max-width: 23.4375em) {
  .item__title {
    font-size: 0.875rem;
  }
}
.item__subtitle {
  font-family: "NunitoSans";
  line-height: 161.538462%; /* 21/13 */
  color: #FFFFFF;
  max-width: 100px;
}
@media (min-width: 90em) {
  .item__subtitle {
    font-size: 0.8125rem;
  }
}
@media (min-width: 23.4375em) and (max-width: 90em) {
  .item__subtitle {
    font-size: clamp( 0.6875rem , 0.6434859155rem  +  0.1877934272vw , 0.8125rem );
  }
}
@media (max-width: 23.4375em) {
  .item__subtitle {
    font-size: 0.6875rem;
  }
}

.swiper-button-prev svg path {
  transition: fill 0.2s ease 0s;
}
.swiper-button-prev svg:hover path {
  fill: #E3B873;
}
@media (max-width: 61.99875em) {
  .swiper-button-prev {
    display: none;
  }
}

.swiper-button-next svg path {
  transition: fill 0.2s ease 0s;
}
.swiper-button-next svg:hover path {
  fill: #E3B873;
}
@media (max-width: 61.99875em) {
  .swiper-button-next {
    display: none;
  }
}

.swiper-pagination {
  max-width: 70px;
  text-align: center;
  transition: 0.3s opacity;
  transform: translate3d(0, 0, 0);
}
@media (max-width: 61.99875em) {
  .swiper-pagination {
    display: none;
  }
}

.swiper-pagination.swiper-pagination-hidden {
  opacity: 0;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 10px;
  left: 0;
  width: 100%;
}

.swiper-pagination-bullet {
  width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 8px));
  height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 8px));
  display: inline-block;
  border-radius: 50%;
  background: var(--swiper-pagination-bullet-inactive-color, rgb(255, 255, 255));
  opacity: var(--swiper-pagination-bullet-inactive-opacity, 0.3);
}

button.swiper-pagination-bullet {
  border: none;
  margin: 0;
  padding: 0;
  box-shadow: none;
  -webkit-appearance: none;
  appearance: none;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
  cursor: pointer;
}

.swiper-pagination-bullet:only-child {
  display: none !important;
}

.swiper-pagination-bullet-active {
  opacity: var(--swiper-pagination-bullet-opacity, 1);
  background: var(#FFFFFF, var(--swiper-theme-color));
}

.swiper-pagination-vertical.swiper-pagination-bullets,
.swiper-vertical > .swiper-pagination-bullets {
  right: 10px;
  top: 50%;
  transform: translate3d(0px, -50%, 0);
}

.swiper-pagination-vertical.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-vertical > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: var(--swiper-pagination-bullet-vertical-gap, 6px) 0;
  display: block;
}

.swiper-pagination-vertical.swiper-pagination-bullets.swiper-pagination-bullets-dynamic,
.swiper-vertical > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
  top: 50%;
  transform: translateY(-50%);
  width: 8px;
}

.swiper-pagination-vertical.swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet,
.swiper-vertical > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  display: inline-block;
  transition: 0.2s transform, 0.2s top;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 4px);
}

.swiper-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic,
.swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
}

.swiper-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  transition: 0.2s transform, 0.2s left;
}

.swiper-horizontal.swiper-rtl > .swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  transition: 0.2s transform, 0.2s right;
}

.page__first-block {
  position: relative;
}

.page__projects {
  background-color: #131313;
}
@media (max-width: 61.99875em) {
  .page__projects {
    background-color: rgb(24, 24, 24);
  }
}
.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  box-sizing: content-box;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}
