@import url(https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap);
@charset "UTF-8";
@font-face {
  font-family: NunitoSans;
  font-display: swap;
  src: url("../fonts/NunitoSans-Regular.woff2") format("woff2"), url("../fonts/NunitoSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 375px;
}

body {
  color: #FFFFFF;
  line-height: 1;
  font-family: "NunitoSans";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "NunitoSans";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  touch-action: none;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
[class*=__container] {
  max-width: 77.25rem;
  box-sizing: content-box;
  margin: 0 auto;
  padding: 0 1.0625rem;
}

[class*=-ibg] {
  position: relative;
}
[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

[class*=-ibg_contain] img {
  object-fit: contain;
}

.header {
  background-color: #131313;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 20;
  font-size: 14px;
}
@media (max-width: 47.99875em) {
  .header {
    font-size: 12px;
  }
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 63px;
  padding-bottom: 0.625rem;
  padding-top: 0.625rem;
  column-gap: 15px;
}
@media (max-width: 61.99875em) {
  .header__container {
    min-height: 50px;
  }
}
@media (max-width: 47.99875em) {
  .header__container {
    column-gap: 10px;
  }
}
.header__logo {
  color: #E3B873;
  text-transform: uppercase;
  position: relative;
  z-index: 5;
}
.header__actions {
  display: flex;
  align-items: center;
}
@media (min-width: 79.375em) {
  .header__actions {
    column-gap: 2.9375rem;
  }
}
@media (min-width: 61.99875em) and (max-width: 79.375em) {
  .header__actions {
    column-gap: clamp( 1.25rem , -4.7710281634rem  +  9.7115315445vw , 2.9375rem );
  }
}
@media (max-width: 61.99875em) {
  .header__actions {
    flex: 0 0 45vw;
    justify-content: space-between;
  }
}
@media (max-width: 47.99875em) {
  .header__actions {
    flex: 1 1 auto;
  }
}
.header__phone {
  color: #E3B873;
  font-size: 13px;
  text-decoration: none;
  background-image: linear-gradient(#E3B873, #FFFFFF);
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size 0.2s ease 0s;
}
.header__phone:hover {
  background-size: 100% 1px;
  cursor: pointer;
}
@media (max-width: 61.99875em) {
  .header__phone {
    color: #FFFFFF;
    position: relative;
    z-index: 5;
  }
}
@media (max-width: 47.99875em) {
  .header__phone {
    font-size: 11px;
  }
}
.header__button {
  position: relative;
  z-index: 5;
  background-color: #E3B873;
  padding: 13px 33px;
  border-radius: 2px;
  transition: color 0.3s ease 0s, background-color 0.3s ease 0s;
}
.header__button:hover {
  color: #131313;
  background-color: #FFFFFF;
}
@media (max-width: 47.99875em) {
  .header__button {
    display: none;
  }
}

.menu {
  display: flex;
  justify-content: center;
}
@media (max-width: 61.99875em) {
  .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #FFFFFF;
    padding-top: 100px;
    transition: all 0.3s ease 0s;
  }
  .menu__body::-webkit-scrollbar {
    width: 0;
  }
  .menu__body::before {
    content: "";
    top: 0;
    left: -100%;
    position: fixed;
    width: 100%;
    height: 70px;
    z-index: 5;
    transition: all 3s ease 0s;
    background-color: #131313;
  }
  .menu-open .menu__body {
    left: 0;
  }
  .menu-open .menu__body::before {
    left: 0;
    transition: all 0.001s ease 0s;
  }
}
.menu__list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 0.3125rem;
  font-size: 11px;
}
@media (min-width: 79.375em) {
  .menu__list {
    column-gap: 2.9375rem;
  }
}
@media (min-width: 61.99875em) and (max-width: 79.375em) {
  .menu__list {
    column-gap: clamp( 1.25rem , -4.7710281634rem  +  9.7115315445vw , 2.9375rem );
  }
}
@media (max-width: 61.99875em) {
  .menu__list {
    flex-direction: column;
    row-gap: 30px;
  }
}
.menu__item {
  text-align: center;
}
.menu__link {
  transition: color 0.3s ease 0s;
}
@media (any-hover: hover) {
  .menu__link:hover {
    color: #E3B873;
  }
}
@media (max-width: 61.99875em) {
  .menu__link {
    color: #131313;
    font-size: 24px;
  }
}

.icon-menu {
  display: none;
}
@media (max-width: 61.99875em) {
  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    flex: 0 0 1.875rem;
    z-index: 5;
  }
}
@media (max-width: 61.99875em) and (any-hover: none) {
  .icon-menu {
    cursor: default;
  }
}
@media (max-width: 61.99875em) {
  .icon-menu span, .icon-menu::before, .icon-menu::after {
    content: "";
    transition: all 0.3s ease 0s;
    left: 0px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #FFFFFF;
  }
}
@media (max-width: 61.99875em) {
  .icon-menu::before {
    top: 0px;
  }
}
@media (max-width: 61.99875em) {
  .icon-menu::after {
    bottom: 0px;
  }
}
@media (max-width: 61.99875em) {
  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }
}
@media (max-width: 61.99875em) {
  .menu-open .icon-menu span {
    transform: scale(0);
  }
  .menu-open .icon-menu::before {
    transform: rotate(-45deg);
    top: calc(50% - 0.0625rem);
  }
  .menu-open .icon-menu::after {
    transform: rotate(45deg);
    bottom: calc(50% - 0.0625rem);
  }
}

.first-block__container {
  margin-top: 83px;
  display: flex;
  flex-direction: column;
  row-gap: 19px;
  position: relative;
  z-index: 3;
  padding-top: 194px;
  padding-bottom: 208px;
  max-width: 1172px;
}
@media (max-width: 61.99875em) {
  .first-block__container {
    margin-top: 70px;
  }
}
@media (min-width: 90em) {
  .first-block__container {
    padding-top: 12.125rem;
  }
}
@media (min-width: 23.4375em) and (max-width: 90em) {
  .first-block__container {
    padding-top: clamp( 5.3125rem , 2.9137323944rem  +  10.234741784vw , 12.125rem );
  }
}
@media (max-width: 23.4375em) {
  .first-block__container {
    padding-top: 5.3125rem;
  }
}
@media (min-width: 90em) {
  .first-block__container {
    padding-bottom: 13rem;
  }
}
@media (min-width: 23.4375em) and (max-width: 90em) {
  .first-block__container {
    padding-bottom: clamp( 3.8125rem , 0.5774647887rem  +  13.8028169014vw , 13rem );
  }
}
@media (max-width: 23.4375em) {
  .first-block__container {
    padding-bottom: 3.8125rem;
  }
}
.first-block__title {
  font-family: "Yeseva One";
  line-height: 132.5%; /* 53/40 */
  text-transform: uppercase;
  color: #FFFFFF;
  font-family: "Yeseva One";
}
@media (min-width: 90em) {
  .first-block__title {
    font-size: 2.5rem;
  }
}
@media (min-width: 23.4375em) and (max-width: 90em) {
  .first-block__title {
    font-size: clamp( 1.5rem , 1.1478873239rem  +  1.5023474178vw , 2.5rem );
  }
}
@media (max-width: 23.4375em) {
  .first-block__title {
    font-size: 1.5rem;
  }
}
.first-block__gold-text {
  color: #E3B873;
}
.first-block__subtitle {
  line-height: 163.636364%; /* 36/22 */
  color: #FFFFFF;
  max-width: 480px;
}
@media (min-width: 90em) {
  .first-block__subtitle {
    font-size: 1.375rem;
  }
}
@media (min-width: 23.4375em) and (max-width: 90em) {
  .first-block__subtitle {
    font-size: clamp( 0.875rem , 0.698943662rem  +  0.7511737089vw , 1.375rem );
  }
}
@media (max-width: 23.4375em) {
  .first-block__subtitle {
    font-size: 0.875rem;
  }
}
@media (max-width: 61.99875em) {
  .first-block__subtitle {
    padding-bottom: 25px;
  }
}
.first-block__buttons {
  display: flex;
  gap: 25px 25px;
}
@media (max-width: 47.99875em) {
  .first-block__buttons {
    flex-direction: column;
    text-align: center;
  }
}
.first-block__button {
  border: 1px solid #FFFFFF;
  border-radius: 2px;
  padding: 20px 42px;
  font-size: 11px;
  transition: background-color 0.3s ease 0s, border 0.3s ease 0s;
}
.first-block__button:first-child {
  background-color: #E3B873;
  border: 1px solid #E3B873;
}
.first-block__button:first-child:hover {
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #FFFFFF;
}
.first-block__button:hover {
  background-color: #E3B873;
  border: 1px solid #E3B873;
  cursor: pointer;
}
.first-block__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.first-block__picture {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.first-block__layout {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background: rgba(0, 0, 0, 0.7);
}

.projects__container {
  display: flex;
  column-gap: 50px;
  max-width: 1172px;
  padding-top: 111px;
  padding-bottom: 90px;
}
@media (max-width: 47.99875em) {
  .projects__container {
    flex-wrap: wrap;
  }
}
.projects__description {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  flex: 0 0 38.18%;
  padding-top: 72px;
}
.projects__body {
  min-width: 0;
}
.projects__picture {
  max-width: 100%;
}
.projects__chose {
  display: flex;
  justify-content: space-between;
  padding-bottom: 53px;
}
.projects__type {
  font-family: "Yeseva One";
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.3);
  background-image: linear-gradient(#E3B873, #FFFFFF);
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size 0.2s ease 0s;
}
.projects__type:first-child {
  color: #E3B873;
}
.projects__type:hover {
  background-size: 100% 1px;
  cursor: pointer;
}
.projects__nav {
  display: flex;
  justify-content: flex-start;
  column-gap: 26px;
}

.description__title {
  font-family: "Yeseva One";
  font-size: 27px;
  line-height: 37px;
  letter-spacing: -0.07em;
  text-transform: uppercase;
  color: #E3B873;
}
.description__subtitle {
  font-family: "NunitoSans";
  font-size: 14px;
  line-height: 192.857143%; /* 27/14 */
  color: #FFFFFF;
}
.description__items {
  display: flex;
  gap: 35px 60px;
  flex-wrap: wrap;
}
.description__item {
  min-width: 130px;
}
.item__title {
  font-family: "Yeseva One";
  font-size: 18px;
  line-height: 138.888889%; /* 25/18 */
  text-transform: uppercase;
  color: #E3B873;
  padding-bottom: 9px;
}
.item__subtitle {
  font-family: "NunitoSans";
  font-size: 13px;
  line-height: 161.538462%; /* 21/13 */
  color: #FFFFFF;
  max-width: 100px;
}

.swiper-button-prev svg path {
  transition: fill 0.2s ease 0s;
}
.swiper-button-prev svg:hover path {
  fill: #E3B873;
}

.swiper-button-next svg path {
  transition: fill 0.2s ease 0s;
}
.swiper-button-next svg:hover path {
  fill: #E3B873;
}

.swiper-pagination {
  max-width: 70px;
  text-align: center;
  transition: 0.3s opacity;
  transform: translate3d(0, 0, 0);
}

.swiper-pagination.swiper-pagination-hidden {
  opacity: 0;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 10px;
  left: 0;
  width: 100%;
}

.swiper-pagination-bullet {
  width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 8px));
  height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 8px));
  display: inline-block;
  border-radius: 50%;
  background: var(--swiper-pagination-bullet-inactive-color, rgb(255, 255, 255));
  opacity: var(--swiper-pagination-bullet-inactive-opacity, 0.3);
}

button.swiper-pagination-bullet {
  border: none;
  margin: 0;
  padding: 0;
  box-shadow: none;
  -webkit-appearance: none;
  appearance: none;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
  cursor: pointer;
}

.swiper-pagination-bullet:only-child {
  display: none !important;
}

.swiper-pagination-bullet-active {
  opacity: var(--swiper-pagination-bullet-opacity, 1);
  background: var(#FFFFFF, var(--swiper-theme-color));
}

.swiper-pagination-vertical.swiper-pagination-bullets,
.swiper-vertical > .swiper-pagination-bullets {
  right: 10px;
  top: 50%;
  transform: translate3d(0px, -50%, 0);
}

.swiper-pagination-vertical.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-vertical > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: var(--swiper-pagination-bullet-vertical-gap, 6px) 0;
  display: block;
}

.swiper-pagination-vertical.swiper-pagination-bullets.swiper-pagination-bullets-dynamic,
.swiper-vertical > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
  top: 50%;
  transform: translateY(-50%);
  width: 8px;
}

.swiper-pagination-vertical.swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet,
.swiper-vertical > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  display: inline-block;
  transition: 0.2s transform, 0.2s top;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 4px);
}

.swiper-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic,
.swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
}

.swiper-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  transition: 0.2s transform, 0.2s left;
}

.swiper-horizontal.swiper-rtl > .swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  transition: 0.2s transform, 0.2s right;
}

.page__first-block {
  position: relative;
}

.page__projects {
  background-color: #131313;
}
.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  box-sizing: content-box;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}
/**
 * Swiper 8.4.6
 * Most modern mobile touch slider and framework with hardware accelerated transitions
 * https://swiperjs.com
 *
 * Copyright 2014-2023 Vladimir Kharlampidi
 *
 * Released under the MIT License
 *
 * Released on: January 17, 2023
 */
@font-face {
  font-family: swiper-icons;
  src: url("data:application/font-woff;charset=utf-8;base64, d09GRgABAAAAAAZgABAAAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAAGRAAAABoAAAAci6qHkUdERUYAAAWgAAAAIwAAACQAYABXR1BPUwAABhQAAAAuAAAANuAY7+xHU1VCAAAFxAAAAFAAAABm2fPczU9TLzIAAAHcAAAASgAAAGBP9V5RY21hcAAAAkQAAACIAAABYt6F0cBjdnQgAAACzAAAAAQAAAAEABEBRGdhc3AAAAWYAAAACAAAAAj//wADZ2x5ZgAAAywAAADMAAAD2MHtryVoZWFkAAABbAAAADAAAAA2E2+eoWhoZWEAAAGcAAAAHwAAACQC9gDzaG10eAAAAigAAAAZAAAArgJkABFsb2NhAAAC0AAAAFoAAABaFQAUGG1heHAAAAG8AAAAHwAAACAAcABAbmFtZQAAA/gAAAE5AAACXvFdBwlwb3N0AAAFNAAAAGIAAACE5s74hXjaY2BkYGAAYpf5Hu/j+W2+MnAzMYDAzaX6QjD6/4//Bxj5GA8AuRwMYGkAPywL13jaY2BkYGA88P8Agx4j+/8fQDYfA1AEBWgDAIB2BOoAeNpjYGRgYNBh4GdgYgABEMnIABJzYNADCQAACWgAsQB42mNgYfzCOIGBlYGB0YcxjYGBwR1Kf2WQZGhhYGBiYGVmgAFGBiQQkOaawtDAoMBQxXjg/wEGPcYDDA4wNUA2CCgwsAAAO4EL6gAAeNpj2M0gyAACqxgGNWBkZ2D4/wMA+xkDdgAAAHjaY2BgYGaAYBkGRgYQiAHyGMF8FgYHIM3DwMHABGQrMOgyWDLEM1T9/w8UBfEMgLzE////P/5//f/V/xv+r4eaAAeMbAxwIUYmIMHEgKYAYjUcsDAwsLKxc3BycfPw8jEQA/gZBASFhEVExcQlJKWkZWTl5BUUlZRVVNXUNTQZBgMAAMR+E+gAEQFEAAAAKgAqACoANAA+AEgAUgBcAGYAcAB6AIQAjgCYAKIArAC2AMAAygDUAN4A6ADyAPwBBgEQARoBJAEuATgBQgFMAVYBYAFqAXQBfgGIAZIBnAGmAbIBzgHsAAB42u2NMQ6CUAyGW568x9AneYYgm4MJbhKFaExIOAVX8ApewSt4Bic4AfeAid3VOBixDxfPYEza5O+Xfi04YADggiUIULCuEJK8VhO4bSvpdnktHI5QCYtdi2sl8ZnXaHlqUrNKzdKcT8cjlq+rwZSvIVczNiezsfnP/uznmfPFBNODM2K7MTQ45YEAZqGP81AmGGcF3iPqOop0r1SPTaTbVkfUe4HXj97wYE+yNwWYxwWu4v1ugWHgo3S1XdZEVqWM7ET0cfnLGxWfkgR42o2PvWrDMBSFj/IHLaF0zKjRgdiVMwScNRAoWUoH78Y2icB/yIY09An6AH2Bdu/UB+yxopYshQiEvnvu0dURgDt8QeC8PDw7Fpji3fEA4z/PEJ6YOB5hKh4dj3EvXhxPqH/SKUY3rJ7srZ4FZnh1PMAtPhwP6fl2PMJMPDgeQ4rY8YT6Gzao0eAEA409DuggmTnFnOcSCiEiLMgxCiTI6Cq5DZUd3Qmp10vO0LaLTd2cjN4fOumlc7lUYbSQcZFkutRG7g6JKZKy0RmdLY680CDnEJ+UMkpFFe1RN7nxdVpXrC4aTtnaurOnYercZg2YVmLN/d/gczfEimrE/fs/bOuq29Zmn8tloORaXgZgGa78yO9/cnXm2BpaGvq25Dv9S4E9+5SIc9PqupJKhYFSSl47+Qcr1mYNAAAAeNptw0cKwkAAAMDZJA8Q7OUJvkLsPfZ6zFVERPy8qHh2YER+3i/BP83vIBLLySsoKimrqKqpa2hp6+jq6RsYGhmbmJqZSy0sraxtbO3sHRydnEMU4uR6yx7JJXveP7WrDycAAAAAAAH//wACeNpjYGRgYOABYhkgZgJCZgZNBkYGLQZtIJsFLMYAAAw3ALgAeNolizEKgDAQBCchRbC2sFER0YD6qVQiBCv/H9ezGI6Z5XBAw8CBK/m5iQQVauVbXLnOrMZv2oLdKFa8Pjuru2hJzGabmOSLzNMzvutpB3N42mNgZGBg4GKQYzBhYMxJLMlj4GBgAYow/P/PAJJhLM6sSoWKfWCAAwDAjgbRAAB42mNgYGBkAIIbCZo5IPrmUn0hGA0AO8EFTQAA");
  font-weight: 400;
  font-style: normal;
}
:root {
  --swiper-theme-color:#007aff;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
}

.swiper-vertical > .swiper-wrapper {
  flex-direction: column;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  box-sizing: content-box;
}

.swiper-android .swiper-slide, .swiper-wrapper {
  transform: translate3d(0px, 0, 0);
}

.swiper-pointer-events {
  touch-action: pan-y;
}

.swiper-pointer-events.swiper-vertical {
  touch-action: pan-x;
}

.swiper-slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  transition-property: transform;
}

.swiper-slide-invisible-blank {
  visibility: hidden;
}

.swiper-autoheight, .swiper-autoheight .swiper-slide {
  height: auto;
}

.swiper-autoheight .swiper-wrapper {
  align-items: flex-start;
  transition-property: transform, height;
}

.swiper-backface-hidden .swiper-slide {
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.swiper-3d, .swiper-3d.swiper-css-mode .swiper-wrapper {
  perspective: 1200px;
}

.swiper-3d .swiper-cube-shadow, .swiper-3d .swiper-slide, .swiper-3d .swiper-slide-shadow, .swiper-3d .swiper-slide-shadow-bottom, .swiper-3d .swiper-slide-shadow-left, .swiper-3d .swiper-slide-shadow-right, .swiper-3d .swiper-slide-shadow-top, .swiper-3d .swiper-wrapper {
  transform-style: preserve-3d;
}

.swiper-3d .swiper-slide-shadow, .swiper-3d .swiper-slide-shadow-bottom, .swiper-3d .swiper-slide-shadow-left, .swiper-3d .swiper-slide-shadow-right, .swiper-3d .swiper-slide-shadow-top {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10;
}

.swiper-3d .swiper-slide-shadow {
  background: rgba(0, 0, 0, 0.15);
}

.swiper-3d .swiper-slide-shadow-left {
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-3d .swiper-slide-shadow-right {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-3d .swiper-slide-shadow-top {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-3d .swiper-slide-shadow-bottom {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-css-mode > .swiper-wrapper {
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.swiper-css-mode > .swiper-wrapper::-webkit-scrollbar {
  display: none;
}

.swiper-css-mode > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: start start;
}

.swiper-horizontal.swiper-css-mode > .swiper-wrapper {
  scroll-snap-type: x mandatory;
}

.swiper-vertical.swiper-css-mode > .swiper-wrapper {
  scroll-snap-type: y mandatory;
}

.swiper-centered > .swiper-wrapper::before {
  content: "";
  flex-shrink: 0;
  order: 9999;
}

.swiper-centered.swiper-horizontal > .swiper-wrapper > .swiper-slide:first-child {
  margin-inline-start: var(--swiper-centered-offset-before);
}

.swiper-centered.swiper-horizontal > .swiper-wrapper::before {
  height: 100%;
  min-height: 1px;
  width: var(--swiper-centered-offset-after);
}

.swiper-centered.swiper-vertical > .swiper-wrapper > .swiper-slide:first-child {
  margin-block-start: var(--swiper-centered-offset-before);
}

.swiper-centered.swiper-vertical > .swiper-wrapper::before {
  width: 100%;
  min-width: 1px;
  height: var(--swiper-centered-offset-after);
}

.swiper-centered > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: center center;
  scroll-snap-stop: always;
}
